<div class="row" *ngIf="peliculas">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [routerLink]="['/pelicula', peliculas[0].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[0] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[0].original_title}}
                </p>
            </div>
            <div class="col-md-6 div-pic-2"
                [routerLink]="['/pelicula', peliculas[1].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[1] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[1].original_title}}
                </p>
            </div>
            <div class="col-md-6 div-pic-2"
                [routerLink]="['pelicula', peliculas[2].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[2] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[2].original_title}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 div-pic-2"
                [routerLink]="['/pelicula', peliculas[3].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[3] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[3].original_title}}
                </p>
            </div>
            <div class="col-md-6 div-pic-2"
                [routerLink]="['/pelicula', peliculas[4].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[4] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[4].original_title}}
                </p>
            </div>
            <div class="col-md-12 div-pic-1"
                [routerLink]="['/pelicula', peliculas[5].id, 'peliculas']"
                [ngStyle]="{'background-image': 'url('+ (peliculas[5] | peliculasImagen ) +') '}">
                <p class="pic-titulo">
                    {{peliculas[5].original_title}}
                </p>
            </div>
        </div>
    </div>
</div>